.course-card {
  background: #BFCDEC;
  padding: 5px;
  padding-top: 15px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid #eef2f6;
  display: flex;
  flex-direction: column;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.card-header {
  height: 120px;
  overflow: hidden;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card-body {
  padding: 10px;
  margin:8px;
  background-color: white;
  border-radius: 12px;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.course-title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.4;
  min-height: 44px; 
}

.course-info p {
  margin: 4px 0;
  font-size: 14px;
  color: #666;
}

.edit-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: none;
  border: 1px solid #ddd;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.edit-btn:hover {
  background-color: #f0f0f0;
  border-color: #bbb;
}