.sidebar-component {
  width: 13%;
  background-color: #eaeaf2;
  padding: 25px;
  display: flex;
  margin: 10px 15px;
  flex-direction: column;
  height: 450px; 
  border-right: 1px solid #e0e0e0;
  position: fixed;
  border-radius: 12px;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidebar-logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}

.logo-bk { color: #0056b3; }
.logo-text { color: #333; }

.sidebar-menu {
  padding-top: 60px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.menu-item {
  padding: 5px 0px;
  border-radius: 8px;
  cursor: pointer;
  color: #555;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.2s ease;
}

.menu-item:hover {
  padding: 5px;
  background-color: #0066A6;
  color: #ffffff;
}

.menu-item.active {
  background-color: #0056b3; 
  color: white;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 86, 179, 0.2);
}


.navbar__brand {
  font-weight: 500;
  color: #596df1;
  font-size: 20px;
  line-height: 1.1;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.navbar__subtitle {
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  line-height: 1.1;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.sidebar-footer {
  margin-top: 0px;
  padding-top: 100px;
}