.Coordinator-dashboard {
  display: flex;
  background-color: #BFCDEC;
  min-height: 100vh;
}

.dashboard-content {
  flex: 1;
  margin-left: 0px; 
  padding: 30px 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.welcome-text h2 {
  color: #1a1a3a;
  font-size: 24px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-btn {
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.user-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid #2030c1; 
}

.controls-cover {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 25px;
  min-height: 600p;
  display: flex;
  flex-direction: column;
}


.controls-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 20px;
}

.search-box {
  flex: 1;
  background: white;
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  max-width: 600px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}

.action-buttons {
  display: flex;
  gap: 15px;
}

.btn-filter {
  background: white;
  border: 1px solid #ddd;
  padding: 0 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: #333;
}

.btn-add {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 0 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.btn-add:hover {
  background-color: #004494;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-bottom: 40px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.page-btn {
  width: 36px;
  height: 36px;
  border: none;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  color: #333;
  font-weight: 600;
}

.page-btn.active {
  background-color: #0056b3;
  color: white;
}